## Question 2

## Part 1

In [1]:
# Part 1

import pandas as pd
import numpy as np
df = pd.read_csv('./data/airbnb_hw.csv')
print(df.dtypes)      # now we know that price is an object

Host Id                         int64
Host Since                     object
Name                           object
Neighbourhood                  object
Property Type                  object
Review Scores Rating (bin)    float64
Room Type                      object
Zipcode                       float64
Beds                          float64
Number of Records               int64
Number Of Reviews               int64
Price                          object
Review Scores Rating          float64
dtype: object

In [2]:
selection = df[['Host Id','Price']]
print(selection)
print(selection.dtypes)

        Host Id Price
0       5162530   145
1      33134899    37
2      39608626    28
3           500   199
4           500   549
...         ...   ...
30473  43022976   300
30474  42993382   125
30475  43033067    80
30476  43000991    35
30477  42999189    80

[30478 rows x 2 columns]
Host Id     int64
Price      object
dtype: object

In [3]:
nan_indices = selection.isna()  # i used this block of code to see if there were any NANs in the price data. 
print(nan_indices)             # looking like no
print('\n')
summ = nan_indices.sum()
print(summ)

for value in nan_indices: 
    if value==True:
        print("NAN in set")
    else: 
        continue
print('\n')
print('Completed Nan Check')

       Host Id  Price
0        False  False
1        False  False
2        False  False
3        False  False
4        False  False
...        ...    ...
30473    False  False
30474    False  False
30475    False  False
30476    False  False
30477    False  False

[30478 rows x 2 columns]


Host Id    0
Price      0
dtype: int64


Completed Nan Check

In [4]:
# price_nan= df['Price'] = pd.to_numeric(df['Price'], errors='coerce').fillna(0).astype(int)
# print(price_nan)

comma_cols=[]
for col in selection.columns:
    if selection[col].dtype == 'object':
        if selection[col].str.contains(',').any():
            comma_cols.append(col)

# comma_cols is just price. Trying to change from an object to an integer

# choices=selection.loc[[0],['Price']]
# print(choices)

# comma_cols is only telling us that price has commas. so now we just need to get into that column specifically. 

new_price=[]


for price in selection['Price']:
    if ',' not in price:
        new_price.append(price)
    else: 
        newest_price = price.replace(',', '')
        new_price.append(newest_price)

df['New Price']=new_price

df['New Price'] = df['New Price'].astype(int)
print(df['New Price'])

0        145
1         37
2         28
3        199
4        549
        ...
30473    300
30474    125
30475     80
30476     35
30477     80
Name: New Price, Length: 30478, dtype: int64

## Choices explained

For this question, I isolated the price column, checked for NAs, and found commas. Then, I made a new column in the 
dataset called 'New Price' to make it easier to work with the data and not change the dataset directly. I then changed
the new "New Price" column into an integer so that we could do numerical analysis with it if we wanted to.

## Part 2

In [5]:
sdf=pd.read_csv('./data/sharks.csv',low_memory=False)
print(sdf.dtypes)
print(sdf.iloc[100:150,4:5],'\n')

# names that do not fall within provoked, unprovoked, invalid
# under investigation
# print(sdf.shape)
# There are 257 variables and 6462 rows

index             int64
Case Number      object
Date             object
Year            float64
Type             object
                 ...
Unnamed: 251    float64
Unnamed: 252    float64
Unnamed: 253    float64
Unnamed: 254    float64
Unnamed: 255    float64
Length: 257, dtype: object
                    Type
100             Provoked
101           Unprovoked
102           Unprovoked
103           Unprovoked
104           Unprovoked
105           Watercraft
106           Unprovoked
107           Unprovoked
108              Invalid
109           Unprovoked
110              Invalid
111           Unprovoked
112           Unprovoked
113             Provoked
114             Provoked
115           Unprovoked
116           Unprovoked
117           Unprovoked
118           Unprovoked
119           Unprovoked
120           Unprovoked
121           Unprovoked
122           Unprovoked
123           Unprovoked
124           Unprovoked
125         Questionable
126           Unprovoked
127           Unprovoked
128           Unprovoked
129           Unprovoked
130           Unprovoked
131         Questionable
132           Unprovoked
133             Provoked
134           Unprovoked
135           Unprovoked
136           Unprovoked
137             Provoked
138           Unprovoked
139           Unprovoked
140              Invalid
141              Invalid
142             Provoked
143  Under investigation
144           Unprovoked
145           Unprovoked
146           Unprovoked
147           Unprovoked
148              Invalid
149           Unprovoked

In [6]:
# First figuring out if there are nans and separating them

# choice=sdf.loc[[239],['Type']]
# print(choice)


sdf_nan_indices = sdf['Type'].isnull()# i used this block of code to see if there were any NANs in the type data. 

# print(sdf_nan_indices)             # looking like no
# print('\n')
nan_count = sdf['Type'].isnull().sum()
print(nan_count)

for value in sdf_nan_indices: 
    if value==1:
        print(value)
    else: 
        continue

print('NAN check is done')
print('\n')
# There are NANs in the set, so now we need to remove them/change them. 

new_type=[]
count = 0
for value in sdf_nan_indices: 
    if value==True:
        print(count)
        count+=1
    else: 
        count +=1

print('Now we know which rows our nans are in')

for item in sdf['Type']:
    new_type.append(item)
    
sdf["New Type"]=new_type # making a new column in the data set
print(sdf.loc[[5864],['New Type']]) # checking to see if the data actually found nan values

new_type[239]='INVALID'   #changing all the nans to invalid instead of nothing
new_type[537]='INVALID'
new_type[4087]='INVALID'
new_type[5025]='INVALID'
new_type[5864]='INVALID'


sdf["New Type"]=new_type
print('\n')
print(sdf.loc[[5864],['New Type']]) #checking to see if my code worked

for value in sdf['New Type']:
    value.upper()

uppercase_list = [value.upper() for value in new_type] # turning everything to uppercase for consistency also no non str

# print(uppercase_list) # checking to see if my code worked

sdf['New Type']=uppercase_list

5
True
True
True
True
True
NAN check is done


239
537
4087
5025
5864
Now we know which rows our nans are in
     New Type
5864      NaN


     New Type
5864  INVALID

In [7]:
# Now that the data is unified, can work on changing the data to consistent observation values
# want only UNPROVOKED, PROVOKED, INVALID

count=0

for value in uppercase_list:
    if 'QUESTIONABLE' in value: 
        uppercase_list[count] = 'INVALID'
        count+=1
    else: 
        count+=1
        continue

count=0 # resets count
for value in uppercase_list:
    if 'SEA DISASTER' in value: 
        uppercase_list[count] = 'PROVOKED'
        count+=1
    else: 
        count+=1
        continue

print(uppercase_list[6046])

count=0 # resets count
for value in uppercase_list:
    if 'WATERCRAFT' in value: 
        uppercase_list[count] = 'PROVOKED'
        count+=1
    else: 
        count+=1
        continue
print(uppercase_list[6047])

count=0 # resets count
for value in uppercase_list:
    if 'BOATING' in value: 
        uppercase_list[count] = 'PROVOKED'
        count+=1
    else: 
        count+=1
        continue
print(uppercase_list[240])

count=0 # resets count
for value in uppercase_list:
    if 'UNDER INVESTIGATION' in value: 
        uppercase_list[count] = 'INVALID'
        count+=1
    else: 
        count+=1
        continue
print(uppercase_list[143])

PROVOKED
PROVOKED
PROVOKED
INVALID

In [8]:
for value in uppercase_list: #finding other values that need to be changed to be consistent
    if 'UNPROVOKED' in value: 
        continue
    elif 'PROVOKED' in value: 
        continue
    elif 'INVALID' in value: 
        continue
    else: 
        print(value)

count=0
for value in uppercase_list:
    if 'BOAT' in value: 
        uppercase_list[count] = 'PROVOKED'
        count+=1
    else: 
        count+=1
        continue

UNCONFIRMED
UNVERIFIED
BOAT
BOAT
BOAT
BOAT
BOAT
BOAT
BOAT
BOATOMG
BOAT
BOAT
BOAT
BOAT
BOAT
BOAT
BOAT
BOAT
BOAT
BOAT
BOAT
BOAT
BOAT
BOAT
BOAT
BOAT
BOAT
BOAT
BOAT
BOAT
BOAT
BOAT
BOAT
BOAT
BOAT
BOAT
BOAT
BOAT
BOAT
BOAT
BOAT
BOAT
BOAT
BOAT
BOAT
BOAT
BOAT
BOAT
BOAT
BOAT
BOAT
BOAT
BOAT
BOAT
BOAT
BOAT
BOAT
BOAT
BOAT
BOAT
BOAT
BOAT
BOAT
BOAT
BOAT
BOAT
BOAT
BOAT
BOAT
BOAT
BOAT
BOAT
BOAT
BOAT
BOAT
BOAT
BOAT
BOAT
BOAT
BOAT
BOAT
BOAT
BOAT
BOAT
BOAT
BOAT
BOAT
BOAT
BOAT
BOAT
BOAT
BOAT
BOAT
BOAT
BOAT
BOAT
BOAT
BOAT
BOAT
BOAT
BOAT
BOAT
BOAT
BOAT
BOAT
BOAT
BOAT
BOAT
BOAT
BOAT
BOAT
BOAT

In [9]:
for value in uppercase_list: #finding other values that need to be changed to be consistent
    if 'UNPROVOKED' in value: 
        continue
    elif 'PROVOKED' in value: 
        continue
    elif 'INVALID' in value: 
        continue
    else: 
        print(value)

UNCONFIRMED
UNVERIFIED

In [10]:
count=0
for value in uppercase_list:
    if 'UN' in value: 
        uppercase_list[count] = 'PROVOKED'
        count+=1
    else: 
        count+=1
        continue

Choices explained:
I decided to change everything to provoked, unprovoked, and invalid instead of having all the extra variables. 
I also changed everything to uppercase so there would be consistency. 
I changed all the NANs to invalid and the questionable and unverified and under investigation and unconfirmed as well.

## Part 3

In [11]:
pdf=pd.read_csv('./data/pretrial_data.csv',low_memory=False)
print(pdf.dtypes)
print(pdf.shape)

Unnamed: 0         int64
case_type         object
age              float64
sex               object
race              object
is_poor          float64
bond             float64
bond_type          int64
prior_F          float64
prior_M          float64
gini             float64
released         float64
sentence_type    float64
sentence         float64
bond_NA             bool
held_wo_bail        bool
sentence_NA         bool
dtype: object
(22986, 17)

In [12]:
pdf.head()

,Unnamed: 0,case_type,age,sex,race,is_poor,bond,bond_type,prior_F,prior_M,gini,released,sentence_type,sentence,bond_NA,held_wo_bail,sentence_NA
0,0,F,31.0,M,W,NaN,NaN,7,0.0,0.0,0.44,NaN,NaN,NaN,True,False,True
1,1,F,60.0,M,B,NaN,NaN,7,13.0,21.0,0.44,0.0,0.0,60.000000,True,False,False
2,2,M,27.0,M,W,NaN,NaN,7,0.0,0.0,0.44,0.0,1.0,12.000000,True,False,False
3,3,M,27.0,M,B,0.0,NaN,7,0.0,9.0,0.44,0.0,1.0,0.985626,True,False,False
4,4,F,28.0,F,W,0.0,NaN,7,0.0,0.0,0.44,1.0,4.0,0.000000,True,False,True

In [78]:
released_data=pdf['released']
released_data= pdf['released'].to_numpy()
print(released_data)    # released_data is now a numpy list

pdf["cleaned_release_data"]=released_data
# print(pdf["cleaned_release_data"])

for value in released_data:
    if value == 9:
        continue
    elif value==1:
        continue
    elif value==0:
        continue
    else: 
        print(value)

# all the nans should be converted to np.nan now, and it seems as though there are only 1s, 9s, and 0s in the data set.

[nan  0.  0. ...  1.  1.  1.]
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan

## Part 4

In [80]:
pdf['sentence'].head()
new_tab = pdf['sentence_type']['sentence']

0          NaN
1    60.000000
2    12.000000
3     0.985626
4     0.000000
Name: sentence, dtype: float64

In [102]:
cross_tab = pd.concat([pdf['sentence_type'],pdf['sentence']],axis=1)
cross_tab.head()

sentence_data= cross_tab.to_numpy()
pdf.loc[50:100, ['sentence_type', 'sentence']]

count=0
for element in sentence_data: 
    if element[0]==0.0:
        element[1]=0
    elif element[0]==1.0:
        continue
    elif element[0]==2.0:
        continue
    elif element[0]==4.0:
        element[1]=0
    elif element[0]==9.0:
        element[1]=0
    else: 
#         print(element[0])
        count+=1

# print(sentence_data[:,1])

pdf['sentence']=sentence_data[:,1]

print(pdf['sentence'])

0              NaN
1         0.000000
2        12.000000
3         0.985626
4         0.000000
           ...
22981     0.000000
22982          NaN
22983     0.000000
22984     0.000000
22985     0.000000
Name: sentence, Length: 22986, dtype: float64

Explanation:
So for this code I used numpy arrays to go into the data because it was already a float, and I adjusted the numbers
according to the sentence type. I would know that if the sentence type did not have a corresponding jail time, then I 
would make the jail time a 0